<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" debug="true">

    <property name="PORT" value="${server.port}"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./logs/fast-%d{yyyy-MM-dd}.${PORT}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%X{request-id}] %-5level [%thread] %logger{26}.%method:%L: %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>utf8</charset>
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%X{request-id}] %-5level [%thread]%logger{56}.%method:%L -%msg%n</Pattern>
        </encoder>
    </appender>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <logger name="c.n.d.s.r.a" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
